#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.icon {
  font-size: 10rem;
  color: red;
  border: 2px solid red;
  padding: 2rem;
  border-radius: 50%;
  background-color: yellow;
  transition: all 3s;
  margin-top: 5rem;
}
.icon:hover {
  transform: scale(1.5) rotate(360deg);
}

.heading2 {
  margin: 0 1rem;
  color: blue;
}
