#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  width: 900px;
  border: 1px solid blue;
  border-collapse: collapse;
}
thead {
  display: flex;
  width: 900px;
}

.sr-no {
  width: 80px;
}
.desc {
  width: 700px;
}
.status {
  width: 120px;
}
th,
td {
  border: 1px solid blue;
  border-collapse: collapse;
}
