.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  background-color: #333;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.form-group {
  display: flex;
  width: 100%;
  justify-content: center;

  label {
    flex: 0.2;
  }
  input,
  textarea {
    flex: 0.8;
  }
  textarea {
    resize: none;
  }
  .btn {
    width: 100%;
    border: none;
    background-color: orange;
    border-radius: 0.5rem;
  }
}
