* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list-div {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

// $colors: red, green, yellow, blue, purple, orange;

.item-div {
  // @function random-number($min, $max) {
  //   @return floor(random() * ($max - $min + 1) + $min);
  // }
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 20%;
  flex-wrap: wrap;
  margin: 1rem;

  // background-color: nth($colors, random-number(1, length($colors)));
}
