#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2 {
  text-decoration: underline;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 40rem;
  gap: 1rem;
  justify-content: center;
  div {
    display: flex;
    width: 40rem;
    justify-content: center;
  }
}

label {
  width: 5rem;
}

input {
  width: 15rem;
}

span {
  margin: -1rem;
  padding: 0;
}

.btn {
  margin: 0.6rem auto;
  width: 50%;
  background-color: darkseagreen;
}
